/* You can add global styles to this file, and also import other style files */

.ag-theme-alpine .ag-header-cell-label {
  font-weight: bold !important;
  font-size: 16px; /* Optional: Increase font size */
  color: #000; /* Optional: Change header text color */
  width: 100%;
  height: 100%;
}
