<div class="dashboard-container">
  <img src="assets/Lloyds_Banking_Group_logo.png" alt="Logo" class="small-logo" />
  <!--<div *ngIf="userRole === 'Admin'">
    <h1>Welcome, Admin</h1>
    <p>This is the Admin Dashboard where you can manage users and payments.</p>
  </div>-->

  <div *ngIf="userRole === 'SBI'" class="dashboard">
    <!-- Header -->
    <h1 class="title">{{ userRole }} Dashboard</h1>

    <!-- Add Product Button -->
    <button class="add-button" (click)="openForm()">➕ Create New Transaction Request</button>

    <!-- Modal Form -->
    <div *ngIf="isFormOpen" class="modal">
      <div class="modal-content">
        <h2>Enter Transaction Details</h2>

        <!-- Amount input -->
        <label for="amount">💰 Amount :</label>
        <input id="amount" [(ngModel)]="transactionDetails.amount" type="number" placeholder="Enter amount" />

        <label>💰 Product Type :
        <select [(ngModel)]="transactionDetails.billType">
          <option *ngFor="let billType of billTypeList" [value]="billType">{{ billType }}</option>
        </select>
      </label>

        <label >💱 Currency:
          <select [(ngModel)]="transactionDetails.currency">
            <option *ngFor="let currency of currencyList" [value]="currency" >{{ currency }}</option>
          </select></label>

        <!-- Drawee Details -->
        <fieldset>
          <legend>Seller Details</legend>
          <label>🏢 Company Name:
            <select [(ngModel)]="transactionDetails.sellerCN" (change)="updateDetails('seller')">
              <option *ngFor="let item of cnList" [value]="item.cn">{{ item.cn }}</option>
            </select>
          </label>
          <label>💼 Organisation: <input [(ngModel)]="transactionDetails.sellerO"></label>
          <label>📍 Location: <input [(ngModel)]="transactionDetails.sellerL"></label>
          <label>🌍 Country: <input [(ngModel)]="transactionDetails.sellerC"></label>
        </fieldset>

        <!-- BuyerBank Details -->
        <fieldset>
          <legend>Buyer Bank Details</legend>
          <label>🏢 Company Name:
            <select [(ngModel)]="transactionDetails.buyerBankCN" (change)="updateDetails('buyerBank')">
              <option *ngFor="let item of cnList" [value]="item.cn">{{ item.cn }}</option>
            </select>
          </label>
          <label>💼 Organization: <input [(ngModel)]="transactionDetails.buyerBankO"></label>
          <label>📍 Location: <input [(ngModel)]="transactionDetails.buyerBankL"></label>
          <label>🌍 Country: <input [(ngModel)]="transactionDetails.buyerBankC"></label>
        </fieldset>

        <!-- buyer Details -->
        <fieldset>
          <legend>Buyer Details</legend>
          <label>🏢 Company Name:
            <select [(ngModel)]="transactionDetails.buyerCN" (change)="updateDetails('buyer')">
              <option *ngFor="let item of cnList" [value]="item.cn">{{ item.cn }}</option>
            </select>
          </label>
          <label>💼 Organization: <input [(ngModel)]="transactionDetails.buyerO"></label>
          <label>📍 Location: <input [(ngModel)]="transactionDetails.buyerL"></label>
          <label>🌍 Country: <input [(ngModel)]="transactionDetails.buyerC"></label>
        </fieldset>

        <!-- Issuance Date and Due Date -->
        <fieldset>
          <legend>Transaction Dates</legend>
          <div class="date-row">
            <label for="issuanceDate">📅 Issuance Date:</label>
            <input id="issuanceDate" [(ngModel)]="transactionDetails.issuanceDate" type="text" placeholder="YYYY-MM-DD" />

            <label for="dueDate">⏳ Due Date:</label>
            <input id="dueDate" [(ngModel)]="transactionDetails.dueDate" type="text" placeholder="YYYY-MM-DD" />
          </div>
        </fieldset>

        <label>✅ Avalisation:</label>
        <input [(ngModel)]="transactionDetails.avalisation" type="text" />

        <!-- Buttons -->
        <div class="modal-buttons">
          <button class="cancel-button" (click)="closeForm()">Cancel</button>
          <button
            class="submit-button"
            (click)="submitForm()">
<!--            [disabled]="!amount || amount <= 0 || !billType || billType.length < 3"-->
            Submit
          </button>
        </div>
      </div>
    </div>


    <!-- Data Grid -->
    <div class="grid-container">
      <ag-grid-angular
        class="ag-theme-alpine full-grid"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        [modules]="modules"
        rowSelection="single"
        (rowSelected)="onRowSelected($event)">
      </ag-grid-angular>
    </div>
  </div>

  <div *ngIf="userRole === 'Buyer'" class="dashboard">
    <h1 class="title">{{ userRole }} Dashboard</h1>
    <div class="grid-container">
      <ag-grid-angular
        class="ag-theme-alpine full-grid"
        [columnDefs]="columnDef_Buyer"
        [rowData]="rowData"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        [modules]="modules">
      </ag-grid-angular>
    </div>

    <!-- Popup for Approval -->
    <div class="popup" *ngIf="showPopup">
      <div class="popup-content">
        <h3>Transaction Summary</h3>
        <p><b>Amount:</b> {{ selectedTransaction?.amount }}</p>
        <p><b>Receiver Bank:</b> {{ selectedTransaction?.receiverBank }}</p>
        <p><b>Currency:</b> {{ selectedTransaction?.currency }}</p>
        <p><b>seller:</b> {{ selectedTransaction?.sellerCN }}</p>
        <p><b>buyerBank CN:</b> {{ selectedTransaction?.buyerBankCN }}</p>
        <p><b>buyer CN:</b> {{ selectedTransaction?.buyerCN }}</p>

        <button class="green-btn" (click)="updateTransaction('Approved')">Approve</button>
        <button class="red-btn" (click)="updateTransaction('Rejected')">Reject</button>
        <button class="close-btn" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
