<div class="dashboard-container">
  <div *ngIf="userRole === 'Admin'">
    <h1>Welcome, Admin</h1>
    <p>This is the Admin Dashboard where you can manage users and payments.</p>
  </div>

  <div *ngIf="userRole === 'SBI'" class="dashboard">
    <!-- Header -->
    <h1 class="title">{{ userRole }} Dashboard</h1>

    <!-- Add Product Button -->
    <button class="add-button" (click)="openForm()">➕ Create New Transaction Request</button>

    <!-- Modal Form -->
    <div *ngIf="isFormOpen" class="modal">
      <div class="modal-content">
        <h2>Enter Product Details</h2>

        <!-- Amount input -->
        <label for="amount">💰 Amount:</label>
        <input
          id="amount"
          [(ngModel)]="amount"
          type="number"
          placeholder="Enter amount"
          [ngClass]="{'invalid': amount && amount <= 0}"
        />
        <div *ngIf="amount && amount <= 0" class="error">
          Please enter a valid amount greater than 0.
        </div>

        <!-- Bill Type input -->
        <label for="billType">📦 Bill Type:</label>
        <input
          id="billType"
          [(ngModel)]="billType"
          type="text"
          placeholder="Enter Bill type"
          [ngClass]="{'invalid': billType && billType.length < 3}"
        />
        <div *ngIf="billType && billType.length < 3" class="error">
          Bill type should be at least 3 characters.
        </div>

        <!-- Bill Type input -->
        <label for="receiverBank">🏦 Receiver Bank Code: </label>
        <input
          id="receiverBank"
          [(ngModel)]="receiverBank"
          type="text"
          placeholder="Enter Receiver Bank Code"
        />
        <div *ngIf="receiverBank && receiverBank.length < 3" class="error">
          Bill type should be at least 3 characters.
        </div>

        <!-- Buttons -->
        <div class="modal-buttons">
          <button class="cancel-button" (click)="closeForm()">Cancel</button>
          <button
            class="submit-button"
            (click)="submitForm()"
            [disabled]="!amount || amount <= 0 || !billType || billType.length < 3">
            Submit
          </button>
        </div>
      </div>
    </div>


    <!-- Data Grid -->
    <div class="grid-container">
      <ag-grid-angular
        class="ag-theme-alpine full-grid"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [pagination]="true"
        [domLayout]="'autoHeight'"
        (gridReady)="onGridReady($event)"
        [modules]="modules">
      </ag-grid-angular>
    </div>
  </div>
</div>
