<div class="dashboard-container">
    <img src="assets/Lloyds_Banking_Group_logo.png" alt="Logo" class="small-logo" />  
    <div class="dashboard">
        <!-- Header -->
        <h1 class="title">Compliance Dashboard</h1>
    
<!-- Main Container -->
<!-- Data Grid -->
<div class="grid-container">
    <ag-grid-angular
        class="ag-theme-alpine full-grid"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        [modules]="modules"
        rowSelection="single">
    </ag-grid-angular>
</div>
</div>
